exportPattern("^[[:alpha:]]+")


importFrom("stats", "as.dist", "logLik", "median", "na.omit", "pchisq",
                "predict", "qlogis", "qnorm", "quantile", "sd", "var")
importFrom("utils", "lsf.str")
importFrom("foreach", "%dopar%")
importFrom("magrittr", "%>%")
importFrom("ggplot2", "aes","ggplot","scale_x_continuous", "scale_y_continuous",
           "theme_bw", "labs", "theme", "geom_line", "geom_point", "scale_x_log10", "scale_y_log10",
           "geom_col")
importFrom("graphics", "points","lines","hist")

