exportPattern("^[[:alpha:]]+")


importFrom("stats", "as.dist", "logLik", "median", "na.omit", "pchisq",
                "predict", "qlogis", "qnorm", "quantile", "sd", "var", "vcov")
importFrom("foreach", "%dopar%")
importFrom("magrittr", "%>%")

